footer {
  background-color: #ffffff;
  color: #a1a3a6;
}


footer h4 {
  color: #fbaa3c;
  padding-bottom: 15px;
  font-size: 15px;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer ul li {
  line-height: 15px;
  padding-bottom: 10px;
  font-size: 15px;
} 

.logo-image-footer  {
  margin-bottom: 25px;
}

.first-content-footer {
  border-bottom: 1px solid #ededee;
  padding: 50px 0;
}

.second-content-footer {
  padding: 20px 0;
}

.second-box-copy {
  text-align: left;
}

.mini-box-footer {
  margin-bottom: 25px;
}

.copy {
  text-align: center;
  font-size: 0.75rem;
}

.blue-footer {
  background-color: #354389;
}

.blue-footer .first-content-footer {
  border-bottom: 1px solid #4a5695;
}

footer h4 {
  padding-bottom: 15px;
  font-size: 15px;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer ul li {
  line-height: 15px;
  padding-bottom: 10px;
  font-size: 15px;
} 

footer ul.nav li a {
  color: #fff;
  opacity: 0.7;
  padding: 0;
  transition-duration: 0.2s;
}

footer.white-footer ul.nav li a {
  color: #000;
}

footer ul.nav li a:hover {
  opacity: 1;
  text-decoration: none;
}

footer .social-footer ul li a {
  color: #fff;
  opacity: 0.7;
  padding: 0;
  transition-duration: 0.2s;
}

footer.white-footer .social-footer ul li a {
  color: #000;
}

footer .social-footer ul li a:hover {
  opacity: 1;
  text-decoration: none;
}

.first-content-footer {
  border-bottom: 1px solid #ededee;
  padding: 50px 0;
}

.second-box-copy {
  text-align: left;
}

.mini-box-footer {
  margin-bottom: 25px;
}

.first-content-footer > div:last-child .mini-box-footer{
  margin-bottom: 0;
}

.social-footer ul li img {
  margin-right: 10px;
}

.mini-box-footer .nav-item {
  width: 100%;
}

.social-footer ul li a {
  color: #a1a3a6;
}

.social-footer ul li a:hover {
  color: #a1a3a6;
  text-decoration: none;
}

.second-content-footer p {
  margin-bottom: 8px;
  font-size: 14px;
}

.second-content-footer div:last-child p {
  margin-bottom: 0;
}

.blue-footer .social-footer ul li a:hover {
  color: #fff;
}

.blue-footer .second-content-footer p {
  color: #fff;
  opacity: 0.7;
}

.medina-footer .second-content-footer a {
  color: #b5dcbc !important
}

.medina-footer .second-content-footer a:hover {
  color: #b5dcbc !important
}

.experience-footer .second-content-footer a {
  color: #ffa600 !important
}

.experience-footer .second-content-footer a:hover {
  color: #ffa600 !important
}

.blue-footer .second-content-footer a, .blue-footer .social-footer ul li a {
  color: #ffffff !important
}

.blue-footer .second-content-footer a:hover {
  color: #ffffff !important
}
@media only screen and (min-width:320px) {

}
@media only screen and (min-width:480px) {

}
@media only screen and (min-width: 576px){
	
}
@media only screen and (min-width:768px) {
  .second-content-footer p {
    margin-bottom: 0;
  }

  .logo-image-footer  {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 992px) {
    
}
@media only screen and (min-width:1024px) {
	
}
@media only screen and (min-width:1140px) {
	
}
@media only screen and (min-width:1280px) {
	
}