.first-section-privacy {
    text-align: center;
}

.container-box-780px {
    width: 780px;
    max-width: 100%;
    margin: 0 auto;
}

.container-second-section-policy h4 {
    margin-bottom: 35px;
    margin-top: 50px;
}

.container-second-section-policy h4:first-child {
    margin-top: 0;
}

.second-section-policy {
    margin-bottom: 50px;
}

.container-second-section-policy ul {
    padding-left: 20px;
}

.container-second-section-policy ul li {
    font-size: 19px;
    font-weight: normal;
    line-height: 26px;
    margin-bottom: 20px;
}

.second-section-policy a {
    color: #354389;
}

.second-section-policy a:hover {
    color: #354389 !important;
}